[#if ONLY_CALENDAR==0#]

<style>
input[type=checkbox] {height: 15px;width: 15px;vertical-align: bottom;margin-top: 0;}div.menu {display: none;}div.menu > a > img:hover {filter: saturate(300%);}#yestask:hover > div.menu {display: inline;}h2, .paddingleft {margin-left: 20px;}h1 {white-space:pre;}.menu {padding: 3px 7px 5px 6px;background-color: #efefef;border-radius: 5px;color: #9a9a9a;font-size: 14px;margin: 0 5px 0 3px;;border: 1px solid #bdbdbd;}.title {overflow: hidden;text-align: left;font-size: 22px;}.title span {vertical-align: middle;}.title:before, .title:after {content: "";display: inline-block;vertical-align: middle;width: 100%;height: 2px;background-color: #f3f3f3;position: relative;}.title:before {margin-left: calc(-100% - -20px);left: -7px;}.title:after {margin-right: -100%;right: -7px;}
@media screen and (max-width: 800px) {.calendar-mob {display: none;}}

</style>


<form action="?" method="post">
<table style="margin-top: 30px;" border="0" align="center">
 <tr>
  <td valign="top"><input type="text" name="title" size="40"  class="form-control"></td>
  <td valign="top">&nbsp;</td>
  <td valign="top"><input type="submit" name="submit" value="<#LANG_ADD#>"  class="btn"></td>
 </tr>
 <input type="hidden" name="view_mode" value="edit">
</table>
</form>
[#endif ONLY_CALENDAR#]


[#if SHOW_CALENDAR#]
[#if ONLY_CALENDAR==0#]
 <div class="calendar-mob" style="float: right; width: 260px; padding-left: 10px;">
[#endif ONLY_CALENDAR#]

[#if YEAR_CALENDAR==0#]
 <div><a href="?calendar=1&year_calendar=1" class="btn btn-default btn-sm" style="margin-top: 10px;"><span class="glyphicon glyphicon-calendar"></span> Календарь на год</a></div>
[#else#]
 <a onclick="javascript:history.back(); return false;" class="btn btn-default" style="font-weight: 600;width: 110px; display:block; margin-top: 10px;"><span class="	glyphicon glyphicon-hand-left"></span> Назад</a>
[#endif YEAR_CALENDAR#]


 [#inc calendar_full_admin.html#]
[#if ONLY_CALENDAR==0#]
</div>
[#endif ONLY_CALENDAR#]

[#endif SHOW_CALENDAR#]


[#if ONLY_CALENDAR==0#]

<h1 class="title" style="padding-top: 15px; color: green;"><img style="height: 39px;padding-bottom: 5px;" src="../cms/calendar/icon-notesdate.png" /> <#LANG_TODAY#></h1>
<table class="paddingleft" border="0">
 [#if EVENTS_TODAY#]
 [#begin EVENTS_TODAY#]
 <tr>
  <td>[#if ICON!=""#]<img style="width: 15px;" src="<#ROOTHTML#>cms/calendar/[#ICON#]">[#endif ICON#]</td>
  <td valign="top">[#if IS_TASK="1"#]<img style="height: 30px;" src="../cms/calendar/task.png" title="Задача" alt="Задача">[#else#]<img style="height: 30px;" src="../cms/calendar/notification.png" title="Событие" alt="Событие">[#endif#]</td>

  <td>[#if IS_REMIND="1"#]<img style="width: 15px;" src="../cms/calendar/bellalt.png">[#endif IS_REMIND#]</td>
  <td>[#if AUTODONE="1"#]<img style="width: 15px;" src="../cms/calendar/android.png">[#endif AUTODONE#]</td>
  <td id="yestask" width="100%"><span id="task_title[#ID#]">[#if IS_NODATE="0"#][#if ALL_DAY="0"#] ([#due_time#]) [#endif#][#endif#][#TITLE#]</span> <div class="menu"><a href="?view_mode=edit&id=[#ID#]"><img style="height: 15px;" src="../cms/calendar/settings.png" /></a>[#if IS_TASK="1"#] | <input type="checkbox" name="task[#ID#]" class="tasks" value="[#ID#]" data-role="none">[#endif#]</div> [#if NOTES=""#][#else#]<span style="color: grey; font-style: italic;"> — [#NOTES#]</span>[#endif#]</td>
  <!--td><a style="font-size: 13px;" href="?view_mode=edit&id=[#ID#]"><#LANG_EDIT#></a></td-->
 </tr>
 [#end EVENTS_TODAY#]
 [#else EVENTS_TODAY#]
 <tr>
  <td colspan="3"><#LANG_NOTHING_TO_DO#></td>
 </tr>
 [#endif EVENTS_TODAY#]
</table>

[#begin CALENDAR_CATEGORIES#]
[#if REC_COUNT>0#]
<h1 class="title" style="padding-top: 15px;">[#if ICON!=""#]<img style="width: 40px;" src="<#ROOTHTML#>cms/calendar/[#ICON#]">[#else#]<img style="width: 40px;" src="<#ROOTHTML#>cms/calendar/default.png">[#endif ICON#][#TITLE#]</h1>
<table border="0">
[#if EVENTS_PAST#]
<h2 style="color: #ff0000; font-size: 18px;margin-top: 5px;"><#LANG_PAST_DUE#></h2>
<table class="paddingleft" border="0" style="margin-bottom: 15px;">
 [#begin EVENTS_PAST#]
 <tr>
  <td valign="top">[#if IS_TASK="1"#]<img style="height: 25px;" src="../cms/calendar/task.png" title="Задача" alt="Задача">[#else#]<img style="height: 25px;" src="../cms/calendar/notification.png" title="Событие" alt="Событие">[#endif#]</td>
  <td id="yestask" width="100%"><span id="task_title[#ID#]">[#TITLE#] (прошло [#AGE#] [#DAYS#])</span> <div class="menu"><a href="?view_mode=edit&id=[#ID#]"><img style="height: 15px;" src="../cms/calendar/settings.png" /></a>[#if IS_TASK="1"#] | <input type="checkbox" name="task[#ID#]" class="tasks" value="[#ID#]" data-role="none">[#endif#]</div> [#if NOTES=""#][#else#]<span style="color: grey; font-style: italic;"> — [#NOTES#]</span>[#endif#]</td>
  <!--td><a style="font-size: 13px;" href="?view_mode=edit&id=[#ID#]"><#LANG_EDIT#></a></td-->
 </tr>
 [#end EVENTS_PAST#]
</table>
[#endif EVENTS_PAST#]



[#if EVENTS_SOON#]
<h2 style="color: #ff8f00; font-size: 18px;margin-top: 5px;"><#LANG_SOON#></h2>
<table class="paddingleft" border="0" style="margin-bottom: 15px;">
 [#begin EVENTS_SOON#]
 <tr>
  <td valign="top">[#if IS_TASK="1"#]<img style="height: 25px;" src="../cms/calendar/task.png" title="Задача" alt="Задача">[#else#]<img style="height: 25px;" src="../cms/calendar/notification.png" title="Событие" alt="Событие">[#endif#]</td>
  <td id="yestask" width="100%"><span id="task_title[#ID#]">[#TITLE#] ([#DAYS#])</span> <div class="menu"><a href="?view_mode=edit&id=[#ID#]"><img style="height: 15px;" src="../cms/calendar/settings.png" /></a>[#if IS_TASK="1"#] | <input type="checkbox" name="task[#ID#]" class="tasks" value="[#ID#]" data-role="none">[#endif#]</div> [#if NOTES=""#][#else#]<span style="color: grey; font-style: italic;"> — [#NOTES#]</span>[#endif#]</td>
  <!--td><a style="font-size: 13px;" href="?view_mode=edit&id=[#ID#]"><#LANG_EDIT#></a></td--> 
 </tr>
 [#end EVENTS_SOON#]
</table>
[#endif EVENTS_SOON#]

</table border>
[#endif REC_COUNT#]
[#end CALENDAR_CATEGORIES#]

[#if RECENTLY_DONE#]
<h1 class="title" style="color: green; padding-top: 15px;"><img style="height: 39px;padding-bottom: 5px;" src="../cms/calendar/icon-ok.png" /> <#LANG_DONE_RECENTLY#></h1>
<table class="paddingleft" border="0">
 [#begin RECENTLY_DONE#]
 <tr>
  <td valign="top">[#if IS_TASK="1"#]<img style="height: 25px;" src="../cms/calendar/task.png" title="Задача" alt="Задача">[#else#]<img style="height: 25px;" src="../cms/calendar/notification.png" title="Событие" alt="Событие">[#endif#]</td>
  <td id="yestask" width="100%"><span style="text-decoration:line-through" id="task_title[#ID#]">[#TITLE#]</span> <div class="menu"><a href="?view_mode=edit&id=[#ID#]"><img style="height: 15px;" src="../cms/calendar/settings.png" /></a></div> [#if NOTES=""#][#else#]<span style="color: grey; font-style: italic;"> — <span style="text-decoration:line-through;">[#NOTES#]</span></span>[#endif#]</td>
  <!--td><a style="font-size: 13px;" href="?view_mode=edit&id=[#ID#]"><#LANG_EDIT#></a></td-->
 </tr>
 [#end RECENTLY_DONE#]
</table>
[#endif RECENTLY_DONE#]


<script language="javascript">
 $('.tasks').click (function ()
  {
  var thisCheck = $(this);
  if (thisCheck.is(':checked')) {
   $('#task_title'+thisCheck.val()).css('text-decoration', 'line-through');
   var url="?mode=is_done&id=";
   window.location=url+thisCheck.val();
  } else {
   $('#task_title'+thisCheck.val()).css('text-decoration','none');
   var url="?mode=reset_done&id=";
   window.location=url+thisCheck.val();
  }
 }
 );
</script>
 <br><br>
[#endif ONLY_CALENDAR#]
